## React
src/webgame/resources/react_jsx/node_modules/
src/webgame/resources/static/js/
**/.DS_Store

### Django ###
*.log
*.pot
*.pyc
**/.vscode/
**/__pycache__/
/src/webgaem/local_settings.py
/src/webgame/db.sqlite3