.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square-col {
  margin-right: -2px;
  margin-top: -2px;
}

.square {
  position: relative;
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  padding-top: 100%;
  text-align: center;
  width: 100%;
}

.square:focus {
  outline: none;
}

.stone {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  margin: auto;
}

.stone-icon {
  width: auto;
  height: 24px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}